<!DOCTYPE html>
<html lang="de">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lost Telefonbuch</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
	<div class="page-wrapper">
		<div class="container">
			
			<!-- Bild für Startseite, wenn angemeldet (oben) -->
			<img src="{{ url_for('static', filename='lost_title.jpg') }}" alt="Lost Titel" class="logo">

			<!-- Titel -->
			<h1>📖 Lost Telefonbuch</h1>
			
			<!-- Logout Button -->
			<div class="logout-link">
			 <a href="{{ url_for('logout') }}">🚪 Abmelden</a>
			</div>

			<!-- Text -->
			<p class="intro">Finde jeden Überlebenden... falls er noch lebt 🏝️</p>

			<!-- Suche in der DB -->
			<form method="POST">
				<input type="text" name="name" placeholder="Namen suchen...">
				<button type="submit" class="dharma-button">Suchen</button>
			</form>

			<!-- Ergebnis - Person gefunden oder keine Person gefunden -->
			{% if personen %}
				<h2>Suchergebnisse:</h2>
				{% for person in personen %}
					<div class="person">
						<strong>{{ person.name }}</strong><br>
						Adresse: {{ person.adresse }}<br>
						Telefon: {{ person.telefonnummer }}
					</div>
				{% endfor %}
			{% elif request.method == 'POST' %}
				<p>😢 Keine Person gefunden.</p>
			{% endif %}
			<hr>
			
		<!-- Bild für Startseite, wenn angemeldet (unten) -->
		<img src="{{ url_for('static', filename='lost_numbers.jpg') }}" alt="Lost Numbers" class="numbers-img">
		</div>
	 </div>
</body>
</html>
